# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.jsq
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug and logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
.next/
out/
build/

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Misc
.DS_Store
*.pem
